<footer>
  
  	<div class="hi-icon-wrap hi-icon-effect-2 hi-icon-effect-2b">
      
			<a class="btns" href="https://www.instagram.com/hackcu/?hl=en"><i aria-hidden="true" class="fa fa-instagram fa-lg"></i></a> 
			<a class="btns" href="http://community.hackcu.org"><i aria-hidden="true" class="fa fa-facebook fa-lg"></i></a> 
			<a class="btns" href="mailto:contact@hackcu.org"><i aria-hidden="true" class="fa fa-envelope-o fa-lg"></i></a>
			<a class="btns" href="https://twitter.com/HackCU"><i aria-hidden="true" class="fa fa-twitter fa-lg"></i></a>

		</div>

</footer>

<script src="https://use.fontawesome.com/822c56abbe.js"></script>
