<footer class="text-center-xs">
  
  	<div class="container">
  		<div class="row">
	      	<div class="social-icons col-sm-6 text-center-xs">
				{%unless site.email == null %}
					<a class="btns" target="_blank" href="mailto:{{site.email}}"><i aria-hidden="true" class="fa fa-envelope-o fa-lg"></i></a>
				{%endunless%}  
				{%unless site.github-org == null %}
					<a class="btns" target="_blank" href="https://github.com/{{site.github-org}}/"><i aria-hidden="true" class="fa fa-github fa-lg"></i></a>
				{%endunless%}
				{%unless site.twitter == null %}
					<a class="btns" target="_blank" href="https://twitter.com/{{site.twitter}}"><i aria-hidden="true" class="fa fa-twitter fa-lg"></i></a>
				{%endunless%}
				{%unless site.fb == null %}
					<a class="btns" target="_blank" href="http://fb.com/{{site.fb}}"><i aria-hidden="true" class="fa fa-facebook fa-lg"></i></a> 
				{%endunless%}
				{%unless site.instagram == null %}
					<a class="btns" target="_blank" href="https://www.instagram.com/{{ site.instagram }}/?hl=en"><i aria-hidden="true" class="fa fa-instagram fa-lg"></i></a> 
				{%endunless%}
				{%unless site.slack == null %}
					<a class="btns" target="_blank" href="{{ site.slack }}"><i aria-hidden="true" class="fa fa-slack fa-lg"></i></a> 
				{%endunless%}
				{%unless site.youtube == null %}
					<a class="btns" target="_blank" href="https://www.youtube.com/c/{{ site.youtube }}"><i aria-hidden="true" class="fa fa-youtube-play fa-lg"></i></a>
				{%endunless%}
			
			</div>
			<div class="web-links col-sm-6 text-right text-center-xs">
				<ul class="list-inline">
					{% for link in site.data.footer_links %}
						<li>{%if link.url%}<a class="text-imp" target="_blank" href="{{ link.url }}">{%endif%}{{ link.name |upcase }}{%if link.url%}</a>{%endif%}</li>
					{%endfor%}
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				{%unless site.legal_notice == null %}
					<a target="_blank" href="{{ site.legal_notice }}">Legal Notice</a> | 
				{%endunless%}
				{%unless site.terms_and_conditions == null %}
					<a target="_blank" href="{{ site.terms_and_conditions }}">Terms and conditions</a> | 
				{%endunless%}
				{%unless site.privacy_and_cookies == null %}
					<a target="_blank" href="{{ site.privacy_and_cookies }}">Privacy and cookies</a>
				{%endunless%}
			</div>
		</div>  
		<div class="row">
  			<div class="col-md-12 text-center">
  				<p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by {{site.author}} </p>
  			</div>
  		</div>
    	<div class="row">
  			<div class="col-md-12 text-center">
  				{% unless site.original_repo == null %}
  					<a href="{{site.original_repo}}" target="_blank"><small>Last updated: {{site.time | date:"%b %-d %Y  %H:%M" }}</small></a>
  				{%endunless%}
  			</div>
  		</div>
	</div>

</footer>
