<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> Welcome to the CSGSA! </h1>
            </div>

            <div class="col-md-6">
                <figure  style="width: 400px; height: 800px;">
                    <img src="{{site.front_photo.photo}}" alt="{{site.front_photo.alt}}" class="logo">
                         <figcaption style="padding-bottom: 20pt; text-align: center;">{{site.front_photo.caption}}</figcaption>
                        </figure>
            </div>
            
            <div class="col-md-6">
                <div class="lead">
                    {{site.data.what_we_do.description | markdownify}}
                </div>
                <a class="btn btn-accent btn-block" href="/join-on-slack">
                    <i class="fa fa-slack" aria-hidden="true"></i> Join us on Slack
                </a>
            </div>
        </div>
    </div>
</header>
