<header>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<img src="{{site.logo}}" class="logo">
				<p class="lead">{{site.author-description}}</p>
				{% if site.fb-community %}
					<a class="btn btn-accent btn-block" href="https://facebook.com/groups/{{site.fb-community}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Join on Facebook</a>
				{% endif %}
				{% if site.slack %}
					<a class="btn btn-accent btn-block" href="{{site.slack}}" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i> Join on Slack</a>
				{%endif%}

				<p class="lead" style="margin-bottom: 0.5em;">Non-periodical activities:</p>
				<div class="activities-container">
					{% for punct in site.data.non_periodical_activities %}
						<a href="{{punct.link}}" target="_blank">
							<img src="{{punct.logo}}" class="activity-logo">
						</a>						
					{% endfor %}
				</div>
			</div>
			<div class="col-md-6 col-md-offset-1">
				<div class="panel panel-default ">
                    <div class="panel-body">
						{% for point in site.data.what_we_do %}
							{% if point.logo %}
								{% if point.link %}
									<a href="{{point.link}}" target="_blank">
										<div class="container">
											<img src="{{point.logo}}" class="logo-event">
											<div class="logo-overlay">
												<div class="text"> 
													<p>{{point.description}}</p> 
												</div>
											</div>
										</div>
									</a>
								{% else %}
									<div class="container">
										<img src="{{point.logo}}" class="logo-event">
										<div class="logo-overlay">
											<div class="text"> 
												<p>{{point.description}}</p> 
											</div>
										</div>
									</div>
								{% endif %}
							{% else %}
								<h4>{{point.title}} 
									{% if point.link %} 
									<a href="{{point.link}}" target="_blank"><i class="fa fa-link"></i></a>
									{% endif %} 
								</h4> 
								<p>{{point.description}}</p>
							{% endif %}
							{%unless forloop.last %}<hr>{%endunless%}
                    	{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
