<section id="newsletter" class="accent-section">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2> Newsletter </h2>
		</div>
	</div>
	<div class="row">
		{% for post in site.posts limit:2 %}
			<div class="col-md-4">
				<a href="{{post.url  | absolute_url}}">
					<h3>{{ post.title }}</h3>
				</a>
				<p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>							
				<div>{{ post.excerpt }} </div>
				<a href="{{post.url  | absolute_url}}">
					<small>Read more</small>
				</a> 
			</div>	
		{% endfor %}
		<div class="col-md-4">
			<h3><a href="{{"/archive" | absolute_url}}">Older Posts</a></h3>
			{% for post in site.posts offset:3 limit:3 %}
				<a href="{{post.url  | absolute_url}}">
					<h4>{{ post.title }}</h4>
				</a>
				<p class="blogdate">{{ post.date | date: "%d %B %Y" }}</p>
			{% endfor %}
	
		</div>
	</div>
	
</div>

</section>
