<section class="weekly">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="biko" id="events">Events</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">	
				<div class="responsiveCal">		
					<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FDenver&amp;src=Y3Nnc2FAY29sb3JhZG8uZWR1&amp;src=Y29sb3JhZG8uZWR1X2V1YTZrOGY1dTN0ZW1rbjU5dHUxb2J2ZGZrQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=Y29sb3JhZG8uZWR1XzcxdDZ2MGozbzU1NmxrbGJhdmprMWVjN2NjQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=b2ZwZjVkdW9haWJ1NGk2a25pa2loMDNlNTdlcHNoN21AaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=c2hmZWE0amo4bHBrbDFzN2Z0ODdrZWU4N2lsdjFqYXFAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%239E69AF&amp;color=%233F51B5&amp;color=%230B8043&amp;color=%23E67C73&amp;color=%238E24AA&amp;showDate=1&amp;showPrint=0&amp;showCalendars=1" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
				</div>
			</div>
			<div class="col-md-5">
				<h3>Planning Meetings</h3>
				<p>Open to all. Come and help us decide what the CSGSA should work on next.</p>

				<h3>Post Colloquia Happy Hour</h3>
				<p>After the weekly colloquium, we head over to our favorite haunts for an informal get-together. Faculty and family are also invited.</p>

				<h3>Tea Time</h3>
				<p>Working all the time is hard! Come play games and enjoy light refreshments with other CS graduate students.</p>

			</div>
		</div>

		
	</div>

</section>
