<section class="weekly">
	<div class="container">
		<div class="row">
			<h2 class="biko">Events</h2>
		</div>
		<div class="row">
			<div class="col-md-5 align-self-center">			
			<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=csgsa%40colorado.edu&amp;color=%231B887A&amp;ctz=America%2FDenver" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
			</div>

			<div class="col-md-7" col-md-offset-2>
				<h3>Graduate Student Forum</h3>
				<p>The GSF provides a platform for students to present research ideas, practice presentations (job talks, conference presentations, etc.) and learn about other research in the department in an informal setting.</p>
				<dl class="horitzontal">
					<dt>Time/Place</dt>
					<dd>Once a month during the colloquium, Thursdays from 2-3pm in DLC 170</dd>
					<dt>Contact</dt>
					<dd>csgsa@colorado.edu</dd>
				</dl>

				<h3>Post Colloquia Happy Hour</h3>
				<p>After the weekly colloquium, we head over to our favorite haunts for an informal get-together. Faculty and family are also invited.</p>
				<dl class="horitzontal">
					<dt>Time/Place</dt>
					<dd>Thursdays 4:30pm, Location varies</dd>
					
					<dt>Contact</dt>
					<dd>Stephen Hutt stephen.hutt@colorado.edu</dd>
				</dl>				



				<h3>Tea Time</h3>
				<p>Working all the time is hard! Come play games and enjoy light refreshments with other CS graduate students.</p>
				<dl class="horitzontal">
					<dt>Time/Place</dt>
					<dd>Fridays 2-3pm in ECOT 831</dd>
					
					<dt>Contact</dt>
					<dd>Ian Martiny ian.martiny@colorado.edu</dd>
				</dl>

			</div>
		</div>

		
	</div>

</section>