<section class="weekly">
	<div class="container">
		<div class="row">
			<h2 class="text-center biko">Weekly events</h2>
		</div>
		<div class="row">
			<div class="col-md-5">
				<h4>Graduate Student Forum (GSF)</h4>
				<p class="lead">The GSF provides a platform for students to present research ideas, practice presentations (job talks, conference presentations, etc.) and learn about other research in the department in an informal setting. This is a forum for CS graduate students only, unless otherwise indicated.</p>
				<dl class="horitzontal">
					<dt>Time/Place</dt>
					<dd>Wednesdays from 2-3 in DLC 1B70</dd>
					<dt>Format</dt>
					<dd>The format of GSF will generally be short talks where students can receive feedback on their research ideas or just want to share interesting research. Students can also practice job talks or conference presentations, and practice their “elevator pitch.”</dd>
					<dt>Contact</dt>
					<dd>cs-gradsoccomm@lists.colorado.edu</dd>
				</dl>
			</div>
			<div class="col-md-5 col-md-offset-2">
				<h4>Tea Time</h4>
				<p class="lead">Working all the time is hard! Come play games and enjoy light refreshments with other CS graduate students.</p>
				<dl class="horitzontal">
					<dt>Time/Place</dt>
					<dd>Fridays 2-3 in ECOT 831</dd>
					
					<dt>Contact</dt>
					<dd>Ian Martiny ian.martiny@colorado.edu</dd>
				</dl>
			</div>

		</div>
	</div>

</section>