---
---

@import "mixins";

@font-face {
    font-family: Biko;
    src: url('../fonts/Biko_Regular.otf');
}

html { height: 100%; width: 100% }

body {
    background-color: #EFEAE4;
    background-color: rgba(236, 240, 241,1.0);
    padding: 15px 0px;
    font-family: "Biko", Helvetica, sans-serif;
    font-size: 1.6em;
    min-height: 100%;
    width: 100%;
}

div.panel {
    @include box-shadow(1px 5px 8px 1px rgba(0,0,0,.08));
    @include border-radius(0);
    height: 230px;
    position: relative;
    top: 0;
    @include transition(all .1s linear);
    border: 0;
    .panel-body {
        padding: 10px;
        height: 90px;
        overflow: fade;

        p {
            overflow: fade;
            text-align: justify;
        }
    }

    .bottom {
        font-style: italic;
        position: absolute;
        width: 100%;
        text-align: right;
        margin-left: -20px;
        bottom: 10px;
    }



    &:hover {
        position: relative;
        top: 4px;
        box-shadow: 1px 1px 3px 1px rgba(0,0,0,.08);

    }



    &.past {
        color: rgba(0,0,0,.3);
        .panel-heading {
            color: rgba(0,0,0,.3);
        }
    }
}

.events .col-sm-4 {
    margin: 10px;
}

a.event-url {
    color: black;

    &:hover {
        text-decoration: none;
    }

    &:active{
        text-decoration: none;
    }
}

.panel-heading {
    padding: 0;
    
    img {
        position: relative; 
        object-fit: cover;
        height: 100px;
        width: 100%;
        &.white {
            filter: brightness(75%);
        }
    }

    h3 {
        position: absolute;
        top: 0px;
        z-index: 10;
        text-transform: uppercase;
        padding: 10px;

        &.white{
            color: white;
        }
    }
}

.dl-horizontal dd {
    margin-left: 80px;
}

.dl-horizontal dt {
    width: 60px;
}

.calendar {
    display: block;
    width: 300px;
    font-size: 1.2em;
}

