---
---

@import "mixins";

$background-color: {{site.background_color}};
// $accent-color: #165E33; 
// $events-color:#AA504A;
$accent-color: {{site.accent_color}};
$events-color: {{site.events_overlay_color}};
// $accent-color: #AA401B;
// $events-color:#225E50;
$accent-text-color: white;

$footer-text: {{site.footer_text_color}};

html { height: 100%; width: 100% }

body {
    background-color: $background-color;
    padding: 0;
    font-size: 1.6em;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
}

section.social-media {
    min-height: 20%;
}

.accent-section {
    background-color: $accent-color;
    color: $accent-text-color;
    padding-bottom: 3em;

    .social-icons {
        a {
            color: $accent-text-color;
            font-size: 2em;

            @include transition(all .1s linear);

            &:hover {
                color: rgba($accent-text-color, 0.7);
            }
        }
    }
}

.social-icons  {
    padding-top: 5px !important;

    a {
        text-decoration: none;
        padding: 10px;
        font-size: 100%;
    }
}

.web-links  {
    li {
        padding-top: 5px;
    }
}

.btn {
    @include box-shadow(0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
    text-transform: uppercase;
    @include border-radius(0);
    position: relative;
    top: 0;
    @include transition(all .1s linear);

    &:hover {
        top: 1px;
        @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19));
    }

    i {
        color: inherit;
        margin-right: 0.5em;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    &.btn-fb {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

    &.btn-accent {
        font-size: 1.2em;
        color: $accent-text-color;
        background-color: $accent-color;
        border-color: $accent-color;

        &:active, &:focus{
            background-color: $accent-color;
            margin-color: $accent-color;
        }

        &:hover{
            background-color: lighten($accent-color, 5%);
            border-color: lighten($accent-color, 5%);
        }   
    }
}

header {
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 80%;

    img.logo {
        width: 50%;
    }

    img.logo, .lead,  .btn {
        margin-bottom: 2em;
    }

    div.activities-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        margin-bottom: 0.5em;

        .activity-logo {
            width: 60%;
            margin: 5px;
        }
    }

     div.panel {
        @include box-shadow(1px 5px 8px 1px rgba(0,0,0,.19));
        @include border-radius(0);
        .panel-body {
            border: 1px $accent-color;
            padding: 10px;

            .container {
                position: relative;
                width: 100%;
                align-content: center;
                padding: 0px;

                .logo-event {
                    opacity: 1;
                    display: block;
                    width: 100%;
                    height: auto;
                    transition: .5s ease;
                    backface-visibility: hidden;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

                .logo-overlay {
                    transition: .5s ease;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 10%;
                    transform: translate(-5%, -50%);
                    -ms-transform: translate(-5%, -50%);
                    text-align: center;
                }

                &:hover .logo-event {
                    opacity: 0.1;
                  }
                  
                &:hover .logo-overlay {
                    opacity: 1;
                }
                
                .text {
                    color: black;
                    p {
                        margin: 0;
                    }
                }

            }

            hr {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        p {
            font-size: 14px;
        }
    }
}

footer {
    padding-top: 2em;
    width: 100%;
  
    p {
        color: $footer-text;
        font-size: 70%; 
    }

    .row {
        margin-bottom: 10px;
    }

    a {
        color: $footer-text;
        @include transition(0.5s ease);
        font-size: 70%; 

        &:hover {
            opacity: 0.9;
            color: $footer-text;
        }

        &:active, &:focus {
            color: $footer-text;
            opacity: 0.5;
        }
        
    }

    .text-imp {
        color: darken($footer-text,100%);
        text-transform: uppercase;
        text-decoration: none;
        opacity: 0.9;
        font-size: 100%;   
         &:active, &:focus {
            color: darken($footer-text,100%);
            opacity: 0.9;
        }
    }

}

.white-text {
    color: $accent-text-color;
}

section {
    padding-bottom: 20px;
    padding-top: 2em;
}

section.events{
    background: rgba($events-color, 0.85);
   
    h2 {
        padding-bottom: 30px;
    }

    div.panel {
        @include box-shadow(1px 5px 8px 1px rgba(0,0,0,.19));
        @include border-radius(0);
        height: 170px;
        position: relative;
        top: 0;
        @include transition(all .1s linear);
        border: 0;
        .panel-body {
            padding: 10px;
            height: 70px;
            font-size: 14px;
            @include border-radius(0);
            overflow: auto;
            p {
                overflow: auto;
                 height: 40px;
                 margin: 0;
            }
        }

        .past-text {
            position: absolute;
            display: none;
            font-size: 0.7em;
            right: 0px;
            z-index: 10;
            background: rgba(darken(white,80%), .8);
            color: white;
            padding: 5px;
            padding-left: 10px;
            @include border-radius(0 0 0 3px);
        }

        .panel-heading {
            padding: 0;
            height: 70px;
            background-color: darken($accent-color,5%);
            @include border-radius(0);

            img {
                position: relative; 
                object-fit: cover;
                height: 70px;
                width: 100%;
                filter: brightness(60%) grayscale(20%);
                &.light_background {
                    filter: grayscale(20%);
                }
            }

            h1,h2,h3, h4{
                position: absolute;
                top: 0px;
                z-index: 10;
                text-transform: uppercase;
                padding: 10px;
                color: $accent-text-color;

                &.light_background{
                    color: black;
                }
            }
        }

        .panel-footer {
            text-align: right;
            font-size: 11px;
            font-family: "Roboto", Helvetica, sans-serif;
            font-style: italic;
            @include border-radius(0);
        }

        &:hover {
            position: relative;
            top: 1px;
            box-shadow: 1px 1px 3px 1px rgba(0,0,0,.19);
            filter:brightness(95%);
        }

        &.past .past-text{ 
            display: inline;
        }
    }

    a.event-url {
        color: black;
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }

    .calendar {
        margin: 0 auto;
        width: 320px;
    }
    
    .margin-top {
        padding-top: 20px;
    }

    .margin-bottom {
        padding-bottom: 20px;
    }

}


@media (max-width: 768px) {
    .text-center-xs, {
        text-align: center;
    } 
    header {
        padding-top: 2em;
    }
}

.center {
    align-items: center;
    display: flex;
    margin-bottom: 35px;
}

.right {
    text-align: right !important;
    display: flex;
    margin-right: -5%
}

.left {
    text-align: left !important;
    display: flex;
    margin-left: -5%
}

.events-switch {
    margin-left: 5%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 auto;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: {{site.accent_color}};
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* Label text */
.label-text {
    color: $accent-text-color;
    width: 100%;
    opacity: 0.7;
}
