---
---

@import "mixins";

$background-color: rgba(236, 240, 241,1.0);
// $accent-color: #165E33; 
// $events-color:#AA504A;
$accent-color: #4C246A;
$events-color:#AA761F;
// $accent-color: #AA401B;
// $events-color:#225E50;

@font-face {
    font-family: Biko;
    src: url('../fonts/Biko_Regular.otf');
}

html { height: 100%; width: 100% }

body {
    background-color: $background-color;
    padding: 0;
    font-family: "Biko", Helvetica, sans-serif;
    font-size: 1.6em;
    height: 100%;
    width: 100%;
}


header {
    height: 200px;
}

footer {
    height: 50px;
}



.white-text {
    color: white;
}



section.events{
    background: linear-gradient( rgba($events-color, 0.75), rgba($events-color, 0.75) ), url(../img/people.jpg) no-repeat center center/cover;
    padding-bottom: 20px;

    h2 {
        padding-bottom: 30px;
    }

    div.panel {
        @include box-shadow(1px 5px 8px 1px rgba(0,0,0,.19));
        @include border-radius(0);
        height: 170px;
        position: relative;
        top: 0;
        @include transition(all .1s linear);
        border: 0;
        .panel-body {
            padding: 10px;
            height: 60px;
            font-family: "Roboto", Helvetica, sans-serif;
            overflow: fade;
            font-size: 14px;
            @include border-radius(0);



            p {
                overflow: fade;
            }

        }

        .past-text {
            position: absolute;
            display: none;
            font-size: 0.7em;
            right: 0px;
            z-index: 10;
            background: rgba(darken(white,80%), .8);
            color: white;
            padding: 5px;
            padding-left: 10px;

            @include border-radius(0 0 0 3px);
        }

        .panel-heading {
            padding: 0;
            height: 70px;
            background-color: darken($accent-color,5%);
            @include border-radius(0);

            
            img {
                position: relative; 
                object-fit: cover;
                height: 70px;
                width: 100%;
                filter: brightness(60%) grayscale(20%);
                &.light_background {
                    filter: grayscale(20%);
                }
            }

            h1,h2,h3, h4{
                position: absolute;
                top: 0px;
                z-index: 10;
                text-transform: uppercase;
                padding: 10px;
                color: white;


                &.light_background{
                    color: black;
                }
            }
        }

        .panel-footer {
            text-align: right;
            font-size: 11px;
            font-family: "Roboto", Helvetica, sans-serif;
            font-style: italic;
            @include border-radius(0);
        }



        &:hover {
            position: relative;
            top: 1px;
            box-shadow: 1px 1px 3px 1px rgba(0,0,0,.19);
            filter:brightness(95%);

        }



        &.past .past-text{ 
            display: inline;
        }
    }

    .btn {
        @include box-shadow(0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
        text-transform: uppercase;
        @include border-radius(0);
        position: relative;
        top: 0;
        @include transition(all .1s linear);

        &:hover {
            top: 1px;
            @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19));


        }


    }

    a.event-url {
        color: black;

        &:hover, &:active, &:focus {
            text-decoration: none;
        }

    }

    .calendar {
        display: block;
        width: 300px;
        font-size: 1.2em;
        margin: 0 auto;
        color: white;
        background-color: $accent-color;
        border-color: $accent-color;

        &:active, &:focus{
            background-color: $accent-color;
            margin-color: $accent-color;
        }

        &:hover{
            background-color: lighten($accent-color, 10%);
            margin-color: lighten($accent-color, 10%);
        }

        
    }

}




