<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href={{"assets/css/main.css"|absolute_url}}>
    <meta name="theme-color" content="{{site.accent_color}}">
    <meta name="author" content="{{ site.author }}">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="icon" href="favicon.png" type="image/png">
    <meta name="description" content="{{ page.description | default: site.description  }}">


    <!--FACEBOOK DESCRIPTION -->
    <meta property="og:title" content="{{ page.title }} | {{ site.name }}"/>
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:description" content="{{ page.description | default: site.description }}"/>
    <meta property="og:image" content="http://{{site.domain}}/{{ page.og | default: site.og }}">
	<meta property="og:image:secure_url" content="https://{{site.domain}}/{{ page.og | default: site.og  }}">
	<meta property="og:url" content="http://{{site.domain}}">

    <!--TWITTER DESCRIPTION -->
	<meta name="twitter:card" content="summary">
    {% unless site.twitter  == null %}
        <meta name="twitter:site" content="@{{ site.twitter }}">
        <meta name="twitter:creator" content="@{{ site.twitter }}">
    {% endunless %}
	<meta name="twitter:title" content="{{ site.name }}">
	<meta name="twitter:description" content="{{ page.description | default: site.description  }}">
	<meta name="twitter:image" content="http://{{site.domain}}/{{ page.og | default: site.og  }}">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href={{"/assets/lib/font-awesome.min.css"|absolute_url}}>


    <title>{% if page.title %}{{ page.title }} |{% endif %} {{ site.name }}</title>
</head>

<body>

{%include menu.html %}
{{content}}
{% include footer.html %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
<script src="{{ '/assets/js/events.js' | relative_url}}"></script>

{% unless site.ga == null  %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.ga}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{site.ga}}');
    </script>
{% endunless %}
</body>
</html>