<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css?_={{ site.time |  date: "%s" }}">
    <meta name="theme-color" content="{{site.accent_color}}">
    <meta name="author" content="{{ site.author }}">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="icon" href="favicon.png" type="image/png">
    <meta name="description" content="{{ page.description | default: site.description  }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="assets/lib/font-awesome.min.css">
    <title>Legal</title>
</head>
<body>
{{content}}
</body>
</html>
